<h1><%= @dog.name %></h1><br> 

<p>Breed: <%= @dog.breed %></p> 
<p>Age: <%= @dog.age %></p> 
<h2> Owners: </h2> 
    <ul> 
        <% @dog.employees.each do |t| %> 
            <li><%= t.first_name %></li> 
        <% end %> 
    </ul> 
